<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
    <head>
        <title>AngularJS - Crud</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--CSS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" />
    </head>
    <body>
        <div class="ui text container" style="padding: 20px 0;">
            <div class="ui segment" ng-controller="CrudCtrl">
                <h1 class="ui header">Trabalho CRUD&nbsp;&nbsp;<span class="ui tag label">CrudCtrl</span></h1>
                <h4 class="ui dividing header">Ações disponíveis</h4>
                <!-- Ações de instrutores -->
                <div class="ui fluid accordion">
                    <!-- Adicionar instrutor -->
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Adicionar instrutor
                    </div>
                    <div class="content">
                        <form name="formAddInstrutor" class="ui form" ng-submit="adicionarInstrutor(novoInstrutor);" novalidate>
                            <div class="two fields">
                                <div class="required field" ng-class="{'error':formAddInstrutor.nome.$invalid && formAddInstrutor.nome.$touched}">
                                    <label>Nome do instrutor:</label>
                                    <input name="nome" ng-model="novoInstrutor.nome" type="text" placeholder="Digite o nome do instrutor" ng-minlength="3" ng-maxlength="20" required>
                                </div>
                                <div class="field" ng-class="{'error':formAddInstrutor.sobrenome.$invalid && formAddInstrutor.sobrenome.$touched}">
                                    <label>Sobrenome do instrutor:</label>
                                    <input name="sobrenome" ng-model="novoInstrutor.sobrenome" type="text" placeholder="Digite o sobrenome do instrutor" ng-maxlength="30">
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="required field" ng-class="{'error':formAddInstrutor.email.$invalid && formAddInstrutor.email.$touched}">
                                    <label>Email:</label>
                                    <input name="email" ng-model="novoInstrutor.email" type="email" placeholder="Digite o email do instrutor" required>
                                </div>
                                <div class="field" ng-class="{'error':formAddInstrutor.foto.$invalid && formAddInstrutor.foto.$touched}">
                                    <label>Url da foto do instrutor:</label>
                                    <input name="foto" ng-model="novoInstrutor.fotoUrl" type="text" placeholder="Digite o url da foto do instrutor">
                                </div>
                            </div>
                            <div class="three fields">
                                <div class="required field" ng-class="{'error':formAddInstrutor.idade.$invalid && formAddInstrutor.idade.$touched}">
                                    <label>Idade:</label>
                                    <input name="idade" ng-model="novoInstrutor.idade" type="number" placeholder="Digite a idade do instrutor" ng-max="90" required>
                                </div>
                                <div class="field">
                                    <label>&nbsp;</label>
                                    <div class="ui toggle checkbox" style="top: 7px;">
                                        <input name="jaDeuAula" type="checkbox" ng-model="novoInstrutor.jaDeuAula" tabindex="0" class="hidden">
                                        <label>Instrutor já deu aula</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Aulas do instrutor:</label>
                                    <select class="ui search dropdown" multiple="" ng-model="novoInstrutor.aula">
                                        <option value="" disabled hidden>Selecione a aula</option>
                                        <option ng-repeat="aula in aulas | orderBy: 'nome' track by $index" value="{{aula.id}}">{{aula.nome}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <button type="submit" class="ui button" ng-class="{'disabled': formAddInstrutor.$invalid}" ng-disabled="formAddInstrutor.$invalid">Adicionar instrutor</button>
                            </div>
                        </form>
                    </div>
                    <!-- Alterar instrutor -->
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Alterar instrutor
                    </div>
                    <div class="content">
                        <form name="formAltInstrutor" class="ui form" ng-submit="alterarInstrutor(altInstrutor);" novalidate>
                            <div class="required field">
                                <label>Instrutor:</label>
                                <select class="ui search dropdown" ng-options="instrutor as (instrutor.nome+' '+instrutor.sobrenome+' - '+instrutor.email) for instrutor in instrutores | orderBy: 'nome' track by instrutor.id" ng-model="altInstrutor" required>
                                    <option value="" disabled hidden>Selecione o Instrutor</option>
                                </select>
                            </div>
                            <div ng-show="altInstrutor.id >= 0">
                                <div class="two fields">
                                    <div class="required field" ng-class="{'error':formAltInstrutor.nome.$invalid && formAltInstrutor.nome.$touched}">
                                        <label>Nome do instrutor:</label>
                                        <input name="nome" ng-model="altInstrutor.nome" type="text" placeholder="Digite o nome do instrutor" ng-minlength="3" ng-maxlength="20" required>
                                    </div>
                                    <div class="field" ng-class="{'error':formAltInstrutor.sobrenome.$invalid && formAltInstrutor.sobrenome.$touched}">
                                        <label>Sobrenome do instrutor:</label>
                                        <input name="sobrenome" ng-model="altInstrutor.sobrenome" type="text" placeholder="Digite o sobrenome do instrutor" ng-maxlength="30">
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="required field" ng-class="{'error':formAltInstrutor.email.$invalid && formAltInstrutor.email.$touched}">
                                        <label>Email:</label>
                                        <input name="email" ng-model="altInstrutor.email" type="email" placeholder="Digite o email do instrutor" required>
                                    </div>
                                    <div class="field" ng-class="{'error':formAltInstrutor.foto.$invalid && formAltInstrutor.foto.$touched}">
                                        <label>Url da foto do instrutor:</label>
                                        <input name="foto" ng-model="altInstrutor.fotoUrl" type="text" placeholder="Digite o url da foto do instrutor">
                                    </div>
                                </div>
                                <div class="three fields">
                                    <div class="required field" ng-class="{'error':formAltInstrutor.idade.$invalid && formAltInstrutor.idade.$touched}">
                                        <label>Idade:</label>
                                        <input name="idade" ng-model="altInstrutor.idade" type="number" placeholder="Digite a idade do instrutor" ng-max="90" required>
                                    </div>
                                    <div class="field">
                                        <label>&nbsp;</label>
                                        <div class="ui toggle checkbox" style="top: 7px;">
                                            <input name="jaDeuAula" type="checkbox" ng-model="altInstrutor.jaDeuAula" tabindex="0" class="hidden">
                                            <label>Instrutor já deu aula</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>Aulas do instrutor:</label>
                                        <select id="teste" class="ui search dropdown" multiple="" ng-model="altInstrutor.aula">
                                            <option value="" disabled hidden>Selecione a aula</option>
                                            <option ng-repeat="aula in aulas | orderBy: 'nome' track by $index" value="{{aula.id}}">{{aula.nome}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field">
                                    <button type="submit" class="ui button" ng-class="{'disabled': formAltInstrutor.$invalid}" ng-disabled="formAltInstrutor.$invalid">Alterar instrutor</button>
                                </div>
                            </div>
                        </form>
                    </div>
                     <!-- Remover instrutor -->
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Remover instrutor
                    </div>
                    <div class="content">
                        <form name="formExcInstrutor" class="ui form" ng-submit="removerInstrutor(removerInstrutor.id);" novalidate>
                            <div class="required field">
                                <label>Instrutor:</label>
                                <select class="ui search dropdown" ng-model="removerInstrutor.id" required>
                                    <option value="" disabled hidden>Selecione o instrutor</option>
                                    <option class="item" ng-repeat="instrutor in instrutores | orderBy: 'nome' track by instrutor.id" value="{{instrutor.id}}">{{instrutor.nome}} {{instrutor.sobrenome}} - {{instrutor.email}}</option>
                                </select>
                            </div>
                            <div class="field">
                                <button type="submit" class="ui button" ng-class="{'disabled': formExcInstrutor.$invalid}" ng-disabled="formExcInstrutor.$invalid">Remover instrutor</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <!-- Ações de aulas -->
                <div class="ui fluid accordion">
                    <!-- Adicionar aula -->
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Adicionar aula
                    </div>
                    <div class="content">
                        <form name="formAddAula" class="ui form" ng-submit="adicionarAula(novaAula);" novalidate>
                            <div class="required field" ng-class="{'error': formAddAula.nome.$invalid && formAddAula.nome.$touched}">
                                <label>Nome da aula:</label>
                                <input name="nome" type="text" ng-model="novaAula.nome" placeholder="Digite o nome da aula" ng-minlength="3" ng-maxlength="20" required>
                            </div>
                            <div class="field">
                                <button type="submit" class="ui button" ng-class="{'disabled': formAddAula.$invalid}" ng-disabled="formAddAula.$invalid">Adicionar aula</button>
                            </div>
                        </form>
                    </div>
                    <!-- Alterar aula -->
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Alterar aula
                    </div>
                    <div class="content">
                        <form name="formAltAula" class="ui form" ng-submit="alterarAula(altAula);" novalidate>
                            <div class="required field">
                                <label>Aula:</label>
                                <select class="ui search dropdown" ng-options="aula as aula.nome for aula in aulas | orderBy: 'nome' track by aula.id" ng-model="altAula" required>
                                    <option value="" disabled hidden>Selecione a aula</option>
                                </select>
                            </div>
                            <div class="required field" ng-show="altAula.id >= 0" ng-class="{'error': formAltAula.nome.$invalid && formAltAula.nome.$touched}">
                                <label>Nome da aula:</label>
                                <input name="nome" type="text" ng-model="altAula.nome" placeholder="Digite o nome da aula" ng-minlength="3" ng-maxlength="20" required>
                            </div>
                            <div class="field">
                                <button type="submit" class="ui button" ng-class="{'disabled': formAltAula.$invalid}" ng-disabled="formAltAula.$invalid">Alterar aula</button>
                            </div>
                        </form>
                    </div>
                    <!-- Remover aula -->
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Remover aula
                    </div>
                    <div class="content">
                        <form name="formExcAula" class="ui form" ng-submit="removerAula(removerAula.id);" novalidate>
                            <div class="required field">
                                <label>Aula:</label>
                                <select class="ui search dropdown" ng-model="removerAula.id" required>
                                    <option value="" disabled hidden>Selecione a aula</option>
                                    <option class="item" ng-repeat="aula in aulas | orderBy: 'nome' track by aula.id" value="{{aula.id}}">{{aula.nome}}</option>
                                </select>
                            </div>
                            <div class="field">
                                <button type="submit" class="ui button" ng-class="{'disabled': formExcAula.$invalid}" ng-disabled="formExcAula.$invalid">Remover aula</button>
                            </div>
                        </form>
                    </div>
                </div>
                <h4 class="ui dividing header">Tabelas dos dados</h4>
                <div class="ui fluid accordion">
                     <!-- Tabela de instrutores -->
                    <div class="active title">
                        <i class="dropdown icon"></i>
                        Tabela de instrutores
                    </div>
                    <div class="active content">
                        <div ng-show="instrutores.length > 0">
                            <div class="ui right action left icon fluid input">
                                <i class="search icon"></i>
                                <input type="text" ng-model="filtroInstrutor" placeholder="Pesquisar instrutor...">
                            </div>
                            <table class="ui definition striped celled table">
                                <thead>
                                    <tr><th class="center aligned">ID</th>
                                        <th>Nome</th>
                                        <th>Email</th>
                                        <th>Idade</th>
                                        <th>Já deu aula</th>
                                        <th>Aulas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="instrutor in filterInstrutores = (instrutores | filter: filtroInstrutor) | orderBy: 'nome' track by instrutor.id">
                                        <td class="center aligned">{{instrutor.id}}</td>
                                        <td>
                                            <img class="ui avatar image" ng-src="{{instrutor.fotoUrl}}">
                                            <span>{{instrutor.nome}} {{instrutor.sobrenome}}</span>
                                        </td>
                                        <td><a href="mailto:{{instrutor.email}}">{{instrutor.email}}</a></td>
                                        <td>{{instrutor.idade}}</td>
                                        <td>{{instrutor.jaDeuAula|booleanToYesOrNo}}</td>
                                        <td>
                                            <div class="ui list">
                                                <div class="item" ng-repeat="aula in aulasDoInstrutor = (getAulasPorArray(instrutor.aula)) | orderBy: 'nome' track by aula.id">
                                                    <span title="ID {{aula.id}}">{{aula.nome}}</span>
                                                </div>
                                                <div class="item" ng-show="aulasDoInstrutor.length === 0">
                                                    Instrutor sem aulas adicionadas
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </div>
                                </tbody>
                                <tfoot class="full-width">
                                    <tr>
                                        <th colspan="6" class="right aligned">
                                            {{filterInstrutores.length}} instrutor(es) encontrado(s).
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div ng-if="filterInstrutores.length === 0 || instrutores.length === 0">
                            <p>Nenhum instrutor encontrado.</p>
                        </div>
                    </div>
                    <!-- Tabela de aulas -->
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Tabela de aulas
                    </div>
                    <div class="content">
                        <div ng-show="aulas.length > 0">
                            <div class="ui right action left icon fluid input">
                                <i class="search icon"></i>
                                <input type="text" ng-model="filtroAula" placeholder="Pesquisar aula...">
                            </div>
                            <table class="ui definition striped celled table">
                                    <thead>
                                        <tr><th class="center aligned">ID</th>
                                            <th>Aula</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="aula in filterAula = (aulas | filter: filtroAula) | orderBy: 'nome' track by aula.id">
                                            <td class="center aligned">{{aula.id}}</td>
                                            <td>{{aula.nome}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="full-width">
                                        <tr>
                                            <th colspan="2" class="right aligned">
                                                {{filterAula.length}} aula(s) encontrada(s).
                                            </th>
                                        </tr>
                                    </tfoot>
                            </table>
                        </div>
                        <div ng-if="filterAula.length === 0 || aulas.length === 0">
                            <p>Nenhuma aula encontrada.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Scripts-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.4/angular-locale_pt-br.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
        <script src="app.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.ui.checkbox').checkbox();
                $('.ui.dropdown').dropdown();
                $('.ui.accordion').accordion();
            });
        </script>
    </body>
</html>