@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
}

* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: #c4170c;
    padding: 5px;
}

.header h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
}

.content {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

.container {
    float: left;
    width: 50%;
    height: auto;
    padding: 0 20px 40px;
}

.noticia {
    border: 1px solid #bbb;
    border-radius: 2px;
    background-color: white;
    padding: 20px 40px;
}

.noticia h1.titulo {
    color: #c4170c;
    line-height: 35px;
}

.noticia h4.subtitulo {
    color: #bbb;
    font-weight: 600;
}

.noticia h5.publicacao {
    color: #bbb;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    font-size: 15px;
    margin: 0;
}

.noticia div.conteudo {
    color: #333;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
}

.noticia div.conteudo::first-letter {
    color: #c4170c;
    font-size: 65px;
    font-weight: 500;
    float: left;
    padding: 18px 8px 0px 0px;
}

.noticia div.conteudo img.imagem {
    float: right;
    height: 100px;
    width: auto;
    margin: 10px 20px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

@media only screen and (max-width: 768px) {
    .container {
        float: none;
        width: 100%;
    }
}