<div class="ui segment">
    <h2 class="ui header">Alterar sua conta do {{siteName}}</h2>
    <form name="form" ng-submit="alterar(usuario)" class="ui large form">
        <div class="required field" ng-class="{'error': form.nome.$touched && form.nome.$invalid}">
            <label for="">Nome</label>
            <input name="nome" type="text" ng-model="usuario.nome" placeholder="Digite seu nome" autofocus required/>
        </div>
        <div class="required field">
            <label for="">Email</label>
            <input name="email" type="email" ng-model="usuario.email" placeholder="Digite seu email" disabled required/>
        </div>
        <div class="required field" ng-class="{'error': form.sexo.$touched && form.sexo.$invalid}">
            <label for="">Sexo</label>
            <select name="sexo" ng-model="usuario.sexo" required>
                <option value="" hidden>Selecione seu sexo</option>
                <option value="0">Não Informado</option>
                <option value="1">Masculino</option>
                <option value="2">Feminino</option>
            </select>
        </div>
        <div class="field" ng-class="{'error': form.nascimento.$touched && form.nascimento.$invalid}">
            <label for="">Data de nascimento</label>
            <input name="nascimento" type="date" ng-model="usuario.dataNascimento"/>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input id="alterarSenha" type="checkbox" value="true" ng-model="alterarSenha" ng-change="usuario.senha = null;">
                <label for="alterarSenha">Alterar senha</label>
            </div>
        </div>
        <div class="field" ng-class="{'error': form.senha.$touched && form.senha.$invalid, 'required': alterarSenha}">
            <label for="">Senha</label>
            <input name="senha" type="password" ng-model="usuario.senha" placeholder="Digite sua senha" ng-disabled="!alterarSenha" ng-required="alterarSenha"/>
        </div>
        <div class="field">
            <button class="ui button large {{colorClass}}" type="submit" ng-class="{'disabled': form.$invalid}">
                Alterar conta
            </button>
        </div>
    </form>
</div>