<div class="ui segment">
    <h3 class="ui header">O que você está pensando?</h3>
    <form name="postForm" ng-submit="addPost(post)" class="ui form" ng-class="{'loading': postando}">
        <div class="field" ng-class="{'error': postForm.texto.$invalid && postForm.texto.$touched}">
            <textarea name="texto" ng-model="post.texto" rows="2" placeholder="Comece digitando aqui... (até 200 caracteres)" maxlength="200" required></textarea>
        </div>
        <div class="field">
            <div class="ui ribbon label">
            <i class="globe icon"></i> Seu post será público
            </div>
            <button type="submit" class="medium ui right floated {{colorClass}} button" ng-class="{'disabled': postForm.$invalid}">
                Postar
            </button>
            <div style="clear: both;"></div>
        </div>
    </form>
    <div class="ui top right attached black label">
        <i class="info circle icon"></i>
        Markdown & links suportados
    </div>
</div>
<div class="ui fluid card" ng-repeat="post in posts">
    <div class="content">
    <div class="right floated meta">{{post.data|timeAgo}}</div>
    <a ui-sref="user({id: post.usuario.id})">
        <img class="ui avatar image" gravatar-src-once="post.usuario.email">
        <span>{{post.usuario.nome}}</span>
    </a>
    </div>
    <div class="content">
        <div ng-bind-html="getTextoFormatado(post.texto)"></div><br>
        <div class="right floated">
            <a ng-click="curtir(post)" ng-if="post.likes == null || !jaCurtiu(post)">
                <i class="thumbs outline up icon"></i>
            </a>
            <a ng-click="descurtir(post)" ng-if="post.likes != null && jaCurtiu(post)">
                <i class="thumbs up icon"></i>
            </a>
            <span ng-switch="contaCurtidas(post)">
                <span ng-switch-when="0">Nenhum like</span>
                <span ng-switch-when="1">Um like</span>
                <span ng-switch-default>{{post.likes.length}} likes</span>
            </span>
        </div>
        <div ng-if="usuario.id == post.usuario.id">
            <a ng-click="removerPost(post.id)" style="color: red;">
                <i class="trash outline red icon"></i>
                Remover post
            </a>
        </div>
    </div>
</div>
<div ng-if="loadingPosts" class="ui active centered inline loader"></div>
<center ng-if="!loadingPosts">
    <span class="ui large label" ng-if="lastPage">
        Sem mais posts no seu feed
    </span>
    <a class="ui large label" ng-click="getNextPage()" ng-if="!lastPage">
        Carregar mais posts
    </a>
</center>