<div class="ui segment">
    <div ng-if="loading" class="ui active centered inline loader"></div>
    <div ng-if="!loading && notFound">
        <center>
            <h1 class="ui header">404</h1>
            <span class="ui big red label">Este usuário não existe</span>
        </center>
    </div>
    <div ng-if="!loading && !notFound && dados">
        <div class="ui items">
            <div class="item">
                <div class="ui tiny image">
                    <img gravatar-src-once="dados.email">
                </div>
                    <div class="content">
                    <a class="header">{{dados.nome}}</a>
                    <div class="meta">
                        <span>{{dados.email}}</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                    <div class="extra">
                        <span class="ui teal large label" ng-if="dados.id == usuario.id">
                            <i class="user icon"></i>
                            Você
                        </span>
                        <span class="ui orange large label" ng-switch="dados.sexo">
                            <span ng-switch-when="2"><i class="female icon"></i> Mulher</span>
                            <span ng-switch-when="1"><i class="male icon"></i> Homem</span>
                            <span ng-switch-default><i class="genderless icon"></i> Gênero não informado</span>
                        </span>
                        <span ng-if="dados.id != usuario.id">
                            <span ng-if="amigos" class="ui green large label"><i class="checkmark icon"></i> Amigos</span>
                            <span ng-if="!amigos && solicitacaoEnviada" class="ui blue large label"><i class="inbox icon"></i> Aguardando solicitação</span>
                            <a ng-if="!amigos && !solicitacaoEnviada" class="ui blue large label" ng-click="enviarSolicitacaoAmizade()"><i class="add user icon"></i> Adicionar</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui segment" ng-if="loadingPosts">
    <div class="ui active centered inline loader"></div>
</div>
<div class="ui segment" ng-if="posts.length == 0">
    <center>
        <span class="ui large label">
            Este usuário não tem nenhum post
        </span>
    </center>
</div>
<div class="ui fluid card" ng-if="posts != null || posts != undefined" ng-repeat="post in posts | orderBy: 'data' : true">
    <div class="content">
    <div class="right floated meta">{{post.data|timeAgo}}</div>
    <a ui-sref="user({id: post.usuario.id})">
        <img class="ui avatar image" gravatar-src-once="post.usuario.email">
        <span>{{post.usuario.nome}}</span>
    </a>
    </div>
    <div class="content">
        <div ng-bind-html="getTextoFormatado(post.texto)"></div><br>
        <div class="right floated">
            <a ng-click="curtir(post)" ng-if="post.likes == null || !jaCurtiu(post)">
                <i class="thumbs outline up icon"></i>
            </a>
            <a ng-click="descurtir(post)" ng-if="post.likes != null && jaCurtiu(post)">
                <i class="thumbs up icon"></i>
            </a>
            <span ng-switch="contaCurtidas(post)">
                <span ng-switch-when="0">Nenhum like</span>
                <span ng-switch-when="1">Um like</span>
                <span ng-switch-default>{{post.likes.length}} likes</span>
            </span>
        </div>
        <div ng-if="usuario.id == post.usuario.id">
            <a ng-click="removerPost(post.id)" style="color: red;">
                <i class="trash outline red icon"></i>
                Remover post
            </a>
        </div>
    </div>
</div>