<div class="ui fluid card" ng-repeat="post in posts">
    <div class="content">
    <div class="right floated meta">{{post.data|timeAgo}}</div>
    <a ui-sref="user({id: post.usuario.id})">
        <img class="ui avatar image" gravatar-src-once="post.usuario.email">
        <span>{{post.usuario.nome}}</span>
    </a>
    </div>
    <div class="content">
        <div ng-bind-html="getTextoFormatado(post.texto)"></div><br>
        <div class="right floated">
            <a ng-click="curtir(post)" ng-if="post.likes == null || !jaCurtiu(post)">
                <i class="thumbs outline up icon"></i> Curtir
            </a>
            <a ng-click="descurtir(post)" ng-if="post.likes != null && jaCurtiu(post)">
                <i class="thumbs up icon"></i> Descurtir
            </a>
            <span>•</span>
            <span ng-switch="contaCurtidas(post)">
                <span ng-switch-when="0">Nenhum like</span>
                <span ng-switch-when="1">Um like</span>
                <span ng-switch-default>{{post.likes.length}} likes</span>
            </span>
        </div>
        <div ng-if="usuario.id == post.usuario.id">
            <a ng-click="removerPost(post.id)" style="color: red;">
                <i class="trash outline red icon"></i>
                Remover post
            </a>
        </div>
    </div>
</div>