<div class="ui container">
    <br>
    <div class="ui segment">
        <form name="locacaoForm" class="ui form" ng-class="{'loading': carregando}" ng-submit="locar(locacao)">
            <h4 class="ui dividing header">Nova locação</h4>
            <div class="required field">
                <label>Cliente</label>
                <input type="text" readonly value="{{cliente.Nome}} - {{cliente.Cpf}}">
            </div>
            <div class="required field" ng-class="{'error': locacaoForm.produto.$touched && locacaoForm.produto.$invalid}">
                <label>Veículo</label>
                <select name="produto" ng-model="locacao.IdProduto" ng-options="produto.Id as produto.Descricao for produto in produtos track by produto.Id" required>
                    <option value="" hidden disabled selected>Selecione o veículo</option>
                </select>
            </div>
            <div class="field">
                <label>Pacote</label>
                <select name="pacote" ng-model="locacao.IdPacote" ng-options="pacote.Id as pacote.Nome + ' - ' +pacote.Descricao for pacote in pacotes track by pacote.Id">
                    <option value="" selected>Nenhum pacote</option>
                </select>
            </div>
            <div class="field">
                <label for="">Opcionais</label>
                <div ng-repeat="opcional in opcionais">
                    <input type="checkbox" id="op-{{$index}}" ng-model="opcional.selecionado" value="{{opcional.Id}}">
                    <label for="op-{{$index}}">{{opcional.Descricao}} - {{opcional.Preco | currency : 'R$ ' : 2}}</label>
                </div>
            </div>
            <div class="required field" ng-class="{'error': locacaoForm.devolucao.$touched && locacaoForm.devolucao.$invalid}">
                <label for="">Data de devolução</label>
                <input name="devolucao" type="date" ng-model="locacao.DataDevolucaoPrevista" required>
            </div>
            <span class="ui button" ng-click="gerarOrcamento(locacao)" ng-class="{'disabled': locacaoForm.$invalid}">Gerar orçamento</span>
            <button class="ui positive button" ng-class="{'disabled': locacaoForm.$invalid || locacaoEfetuada}" type="submit">Efetuar locação</button>
            <div class="ui message" ng-if="mensagem.exibir == true" ng-class="{'negative': mensagem.erro}">
                <div class="content">
                    <div class="header">{{mensagem.titulo}}</div>
                    <p>{{mensagem.texto}}</p>
                </div>
            </div>
        </form>
    </div>
    <br>
</div>