/*
    -- UTILIZANDO DISPLAY FLEX --
*/

body {
    margin: 0;
    color: white;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 25%;
}

.row div {
    border: 2px solid black;
}

.row-1 div {
    width: 25%;
    background-color: red;
}

.row-2 div {
    width: 50%;
    background-color: blue;
}

.row-3 div {
    width: 100%;
    background-color: purple;
}

.row-4 div {
    width: 10%;
    background-color: yellow;
    color: black;
}