<div class="ui container">
    <div class="ui basic segment">
        <h2 class="ui centered header">{{siteName}}</h2>
    </div>
    <div class="ui segment">
        <h3 class="ui header">Bem-vindo.</h3>
        <div class="ui secondary pointing menu">
            <a class="item" ui-sref="adm.index" ui-sref-active="active">
                Início
            </a>
            <a class="item" ui-sref="adm.novoCliente" ui-sref-active="active">
                Novo cliente
            </a>
            <div class="right menu">
                <a class="ui item" ui-sref="logout">
                Logout
                </a>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>